

    body {
        background-color: white;
    }

    h1 {
        color: black; 
        text-decoration: 
        underline; font-size: 36px;
        text-align: center;
    }

    h2 {
        color: black; 
        font-size: 24px;
    }

     #first  {
        color: red;
    }

    #second {
        color: blue;
    }

    #third {
        color: green;
    }

    #fourth {
        font-size: 24px;
    }

    
    #fifth {
    font-size: 12px;
    }

     #sixth {
    text-align: center;
    }

     #seventh {
    font-weight: bold;
    }

     #eighth {
    font-family: Book Antiqua;
    }

     #ninth {
    font-size: 24px;
    color: orange;
    font-weight: bold;
    }
.styledFont {
    color:green;
    }  

    #styledImage {
    border-style: solid;
    border-width: thick;
    border-color: orange
    }




